body {
    font-family: Public Sans;
}

.container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.logo {

    display: flex;
    align-items: center;
}

.logo p {
    font-size: 20px;
    font-weight: 800;
}

.menu {

    display: flex;
    align-items: center;
}

.menu li {
    padding: 15px;

}

.menu li a {
    font-size: 15px;
    font-weight: 400;
    padding: 11px 6px;
    transition: 0.3s ease-in-out;
}


.menu li a:hover {
    background-color: #5BC241;
    color: #FFF;
}


.menu li a.btn {
    background-color: #5BC241;
    color: #fff;
    font-weight: 300;
    border-radius: 10px;
    padding: 11px 21px;

}